<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ServerVersion" value="MS SQL server edition. (e.g. 2012, 2016 etc.)" />
    <add key="ServerName" value="MS SQL server instance" />
    <add key="DbName" value="Initial Catalogue" />
    <add key="WorkingDirPath" value="Root directory path to save generated scripts." />
    <add key="ScmToolPath" value="path of git.exe used to checkin generated scripts."/>
  </appSettings>
</configuration>